@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dancing+Script&family=Montserrat:ital,wght@0,400;0,700;1,400&family=Nabla&family=Noto+Sans:ital,wght@1,500&family=Poppins:ital,wght@1,300&family=Ubuntu:wght@700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

:root {
	--black: #252525;
	--yellow: #ffa400;
	--red: #fc2933;
	--white: #ffffff;
	--font1: 'Montserrat';
}

html {
	scroll-behavior: smooth;
}

body {
	color: var(--white);
	background: rgba(19, 20, 21, 1);
	font-family: var(--font1);
	width: 100%;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 15px;
}

body::-webkit-scrollbar-thumb {
	background-color: #ff9300;
	border-radius: 10px;
}
/* navbar */
.header-container {
	position: relative;
	width: 100%;
	max-width: 1500px;
	margin: 0 auto;
	z-index: 1;
}

.header-container nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 50px 10px;
}

.navbar-list {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}

.home {
	display: flex;
	justify-content: center;
	align-items: center;
}

.home a {
	color: #ffffff;
	font-family: 'Montserrat';
	font-size: 12px;
}

.navbar-list img {
	margin-right: 10px;
}

.fa-solid {
	font-size: 20px;
	color: #ff9300;
	opacity: 50%;
	cursor: pointer;
}
.logo-img {
	width: 76px;
	height: 79px;
	cursor: pointer;
}

.number-products {
	position: absolute;
	top: 65px;
	right: 40px;
	z-index: 10;
	background-color: red;
	padding: 5px 12px;
	font-size: 14px;
	border-radius: 50%;
}

/* hero */

.main-container {
	max-width: 1350px;
	margin: 0 auto;
	width: 100%;
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-top: 20px;
	padding: 90px;
}

.hero-text {
	width: 100%;
	font-family: 'Montserrat';
}

.hero-text h1 {
	font-size: 66px;
	font-weight: 700;
}

.hero-text h2 {
	font-size: 51px;
	font-weight: 700;
	margin-bottom: 20px;
}

.hero-text p {
	font-size: 21px;
	size: 22px;
	height: 28.83px;
	margin-bottom: 40px;
	font-weight: regular 400;
}

.hero-img {
	position: relative;
}

.pizza1 {
	position: absolute;
	top: -100px;
	right: 150px;
	width: 265px;
	height: 265px;
}

.pizza2 {
	position: absolute;
	top: -200px;
	right: -100px;
	width: 392px;
	height: 392px;
}

.hero-button {
	cursor: pointer;
	color: var(--white);
	font-family: 'Montserrat';
	font-weight: 500;
	width: 166px;
	height: 50px;
	border-radius: 15px;
	box-shadow: 11px 28px 50px 0px rgba(20, 78, 90, 0.2);
	font-size: 14px;
	background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
}

.hero-button a {
	color: #ffffff;
}

@media (max-width: 1136px) {
	.hero-img {
		display: none;
	}

	.hero {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.hero-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}

	.hero-text p {
		margin-bottom: 120px;
	}
}

/* section 2 */

.section2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 30px;
}

.section-tittle {
	margin-left: 70px;
	margin-bottom: 70px;
	font-size: 22px;
}

.card-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 50px;
}

.card-recomendaciones {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	background-color: var(--black);
	margin-left: 0px;
	width: 347px;
	height: 103px;
	background: #252525;
	box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
	border-radius: 15px;
}

.description {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.description p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
}
.p2 {
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
	line-height: 17px;
	opacity: 0.3;
	margin-top: 5px;
	margin-bottom: 5px;
}

.description span {
	font-weight: 700;
	font-size: 19px;
	line-height: 131.02%;
	background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}
.btn-agregar {
	width: 85px;
	height: 29px;
	background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
	border-radius: 17.5px;
	align-items: center;
	padding: 8px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	color: var(--white);
	text-align: center;
}

@media (max-width: 1016px) {
	.section2 {
		align-items: center;
	}

	.card-container {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.section-tittle {
		margin-left: 0;
	}

	.section-tittle p {
		text-align: center;
	}
}

@media (max-width: 348px) {
	.card-recomendaciones {
		width: 100%;
		justify-content: center;
	}
}

/* categorias */

.section3-title {
	width: 100%;
	display: flex;
	margin-left: 80px;
}

.section3-title h2 {
	font-size: 15px;
	font-family: 'Montserrat';
	font-weight: 800;
}

.card-category-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
	padding: 50px 40px;
}

.category {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #252525;
	box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
	border-radius: 15px;
	width: 147px;
	height: 171px;
	cursor: pointer;
}

.bar {
	width: 24px;
	height: 4px;
	background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
	box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
	border-radius: 15px;
	margin-top: 15px;
}

.cat-pizza {
	width: 71px;
	height: 71px;
	margin-bottom: 10px;
}

.cat-burguer {
	width: 85px;
	height: 85px;
}

.cat-papas {
	width: 83px;
	height: 83px;
}

.cat-individual,
.cat-taco {
	width: 85px;
	height: 86px;
}

.cat-burrito,
.cat-batido {
	width: 86px;
	height: 86px;
}

.category h3 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 15px;
	color: #ffffff;
}

@media (max-width: 1016px) {
	.section3-title {
		justify-content: center;
		margin-left: 0;
	}
}

/* seccion 4 las mas populares */

.section4 {
	width: 100%;
}

.section4-title {
	width: 100%;
	display: flex;
	margin-left: 80px;
	padding-bottom: 40px;
}

.section4-title h3 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 22px;
}

.card-popular-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 30px;
}

.card-popular {
	width: 282px;
	height: 213px;
	background: #252525;
	box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
	padding: 22px;
}

.active {
	border: 1px solid red;
}

.card-popular h4 {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
}

.card-popular p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	opacity: 0.3;
}

.card-popular img {
	width: 237px;
	height: 97px;
	border-radius: 16px;
}

.price-add {
	display: flex;
	justify-content: space-between;
}

.add {
	width: 85px;
	height: 29px;
	cursor: pointer;
	color: var(--white);
	font-family: 'Montserrat';
	border-radius: 15px;
	font-size: 14px;
	background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
}

@media (max-width: 1016px) {
	.section4-title {
		justify-content: center;
		margin-left: 0;
	}
}

@media (max-width: 1286px) {
	.card-popular-container {
		margin-left: 0px;
		margin-right: 0px;
		align-items: center;
	}
}

@media (max-width: 588px) {
	.card-popular-container {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}

/* footer */

.footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	padding: 30px 0;
	/* filter: grayscale(6%) blur(4px);
	-webkit-filter: grayscale(6%) blur(4px);
	-moz-filter: grayscale(6%) blur(4px); */
}

.footer-links {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 50px;
	padding: 30px 0;
}

.footer-links a {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
	color: #ffffff;
	text-align: center;
}

.footer-links a:hover {
	text-decoration: underline;
}

.footer-msg p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 17px;
}

.footer-span {
	font-family: 'Montserrat';
	font-weight: 900;
	font-size: 17px;
	color: #ffffff;
}

@media (max-width: 531px) {
	.footer-links {
		flex-direction: column;
	}
}
